<div class="loader">
  <div class="lds-roller">
    <div class="lds-roller__circle lds-roller__circle_after lds-roller__circle_first-child lds-roller__circle_first-child_after"></div>
    <div class="lds-roller__circle lds-roller__circle_after lds-roller__circle_second-child lds-roller__circle_second-child_after"></div>
    <div class="lds-roller__circle lds-roller__circle_after lds-roller__circle_third-child lds-roller__circle_third-child_after"></div>
    <div class="lds-roller__circle lds-roller__circle_after lds-roller__circle_fourth-child lds-roller__circle_fourth-child_after"></div>
    <div class="lds-roller__circle lds-roller__circle_after lds-roller__circle_fifth-child lds-roller__circle_fifth-child_after"></div>
    <div class="lds-roller__circle lds-roller__circle_after lds-roller__circle_sixth-child lds-roller__circle_sixth-child_after"></div>
    <div class="lds-roller__circle lds-roller__circle_after lds-roller__circle_seventh-child lds-roller__circle_seventh-child_after"></div>
    <div class="lds-roller__circle lds-roller__circle_after lds-roller__circle_eighth-child lds-roller__circle_eighth-child_after"></div>
  </div>
</div>