@import "@material/linear-progress/mdc-linear-progress";
@import "@material/fab/mdc-fab";
@import "@material/typography/mdc-typography";
@import "./Buttons/ButtonsComponent";
@import "./ProgressBar/ProgressBarComponent";
@import "./VolumeBar/VolumeBarComponent";
@import "./AudioInfo/AudioInfoComponent";
@import "./Rating/RatingComponent";

.mediaPlayer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fefefe;
  &__progressBar {
    flex-basis: 100%;
  }
  &__mainControl {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
  }
  &__volumeBar {
    user-select: none;
    display: flex;
    align-items: center;
    margin-left: 5rem;
  }
  &__audioInfo {
    display: flex;
    flex-basis: 22%;
  }
  &__audioRating {
    flex-basis: 20%;
  }
}
