<div class="share-view">
  <div class=" mdc-card share-view__card">
    <div class="mdc-card__primary-action mdc-ripple-upgraded share-view__card-riple">
      <div class="mdc-card__media">
        <img src="https://imgur.com/in6dwxy.jpg" alt="album cover" class="share-view__image">
      </div>
      <div class="share-view__primary">
        <h2 class="share-view__title mdc-typography--headline6">Genius (feat. Sia, Diplo & Labrinth)</h2>
        <h3 class="share-view__subtitle mdc-typography--subtitle2">Single</h3>
      </div>
      <div class="share-view__secondary mdc-typography--body2">LSD</div>
    </div>
  </div>
</div>