<div class="share-view">
  <div class=" mdc-card share-view__card">
    <div class="mdc-card__primary-action mdc-ripple-upgraded share-view__card-riple">
      <div class="mdc-card__media">
        <img class="share-view__image" alt="album cover" src=<%=imageURL %>>
      </div>
      <div class="share-view__primary">
        <h2 class="share-view__title mdc-typography--headline6">
          <%= songName %>
        </h2>
        <h3 class="share-view__subtitle mdc-typography--subtitle2">
          by
          <%= authors %>
        </h3>
      </div>
    </div>
  </div>
</div>