<div class="share-view">
  <div class=" mdc-card share-view__card">
    <div class="mdc-card__primary-action mdc-ripple-upgraded share-view__card-riple">
      <div class="mdc-card__media">
        <img src="https://image.ibb.co/k4Qc8L/rihanna-loud.jpg" alt="album cover" class="share-view__image">
      </div>
      <div class="share-view__primary">
        <h2 class="share-view__title mdc-typography--headline6">Loud</h2>
        <h3 class="share-view__subtitle mdc-typography--subtitle2">by Rihanna</h3>
      </div>
    </div>
  </div>
</div>