.share-view {
  margin: 0 auto;
  padding-top: 1rem;
  width: 18rem;

  &__image {
    width: 100%;
  }

  &__primary {
    padding: 1rem;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
  }
}
