.buttons {
  display: flex;
  align-items: center;
  &__navigate-button {
    margin: 0;
    width: 2.5rem;
    height: 1.875rem;
    @include mdc-fab-icon-size(1.875rem);
    @include mdc-fab-shape-radius(0.31rem);
    @include mdc-fab-container-color(#838383);
  }
  &__play-button {
    @include mdc-fab-icon-size(3.125rem);
    @include mdc-fab-shape-radius(100%);
    @include mdc-fab-container-color(#6200ee);
    width: 4.375rem;
    height: 4.375rem;
    margin: 0 1.25rem;
  }
}
