.page {
  background-color: hsla(0, 0%, 7%, 1);
}
$color: red;

.main {
  &__sidebar {
    @include mdc-drawer-surface-fill-color($dark-2);
    @include mdc-drawer-title-ink-color($font-grey-1);
    @include mdc-drawer-subtitle-ink-color($font-white-2);
    @include mdc-drawer-item-icon-ink-color($dark-icon);
    @include mdc-drawer-item-text-ink-color($font-white-2);
    @include mdc-drawer-item-activated-icon-ink-color($font-grey-2);
    @include mdc-drawer-item-activated-text-ink-color($font-white-2);
    @include mdc-drawer-activated-overlay-color($dark-selected);
    @include mdc-drawer-divider-color($font-grey-5);
  }

  &__app-bar {
    @include mdc-top-app-bar-ink-color($font-white-1);
    @include mdc-top-app-bar-icon-ink-color($font-white-1);
    @include mdc-top-app-bar-fill-color($dark-1);
  }
}

.search {
  @include mdc-text-field-ink-color($font-white-2);
  @include mdc-text-field-label-color($font-grey-3);
  @include mdc-text-field-caret-color($font-white-2);
  @include mdc-text-field-textarea-fill-color($background);
  @include mdc-text-field-icon-color($font-grey-4, $styleSecondIcon: false);
}

.albums__card {
  @include mdc-card-fill-color($dark-1);
}

.artists__card,
.artist__card {
  @include mdc-card-fill-color($background);
}

.dots-menu {
  &__holder {
    @include mdc-menu-surface-fill-color($font-grey-5);
  }

  &__item {
    @include mdc-list-item-primary-text-ink-color($font-white-2);
  }

  &__button {
    @include mdc-menu-surface-ink-color($font-grey-4);
  }
}

.songs-table {
  background-color: $dark-2;

  &__head {
    background-color: $dark-selected;
  }

  &__th-field {
    color: $font-white-2;
  }

  &__th_duration_icon {
    color: $dark-icon;
  }

  &__row:hover {
    background-color: $dark-hover;
  }

  &__td_play-btn {
    @include mdc-icon-button-ink-color($dark-selected);
  }

  &__td_play-btn-icon {
    @include mdc-button-ink-color($dark-icon);
  }

  &__td_number,
  &__td_name,
  &__td_duration,
  &__td_Author,
  &__td_album {
    color: $font-white-2;
  }
}

.media-player {
  background-color: $dark-1;
}

/*
.about__heading {
  @include mdc-typography(headline4);
}

.about__text {
  @include mdc-typography(body1);
}

.about__subtitle {
    @include mdc-typography(headline6);
  }
*/
