<div class="dark-mode">
  <div class="mdc-menu-surface--anchor">
    <div class="mdc-menu-surface dark-mode__holder" tabindex="-1">
      <ul
        class="mdc-list dark-mode__list"
        role="menu"
        aria-hidden="true"
        aria-orientation="vertical"
      >
        <li
          class="mdc-list-item mdc-typography--body1 dark-mode__item"
          role="menuitem"
        >
          <span class="mdc-list-item__text"> White </span>
        </li>
        <li
          class="mdc-list-item mdc-typography--body1 dark-mode__item"
          role="menuitem"
        >
          <span class="mdc-list-item__text"> Black </span>
        </li>
      </ul>
    </div>
  </div>
  <button class="mdc-icon-button material-icons dark-mode__button">
    format_color_fill
  </button>
</div>
