$background: hsla(0, 0%, 7%, 1); /*main background*/
$dark-1: hsla(0, 0%, 14%, 1); /*top bar*/
$dark-2: hsla(0, 0%, 11%, 1); /*left menu slider*/
$dark-selected: hsla(0, 0%, 100%, 0.1); /*selected item*/
$dark-hover: hsla(0, 0%, 53%, 0.4); /*hover item*/
$dark-icon: hsla(0, 0%, 53%, 1); /*slider icon*/

$font-white-1: hsla(0, 0%, 100%, 1); /*main white*/
$font-white-2: hsla(0, 0%, 100%, 0.88); /*main font. video name*/

$font-grey-1: hsla(0, 0%, 100%, 0.6); /*left menu heading*/
$font-grey-2: hsla(0, 0%, 100%, 0.74); /*video description. subtitle*/
$font-grey-3: hsla(0, 0%, 60%, 1); /*search pllaceholder*/
$font-grey-4: hsla(0, 0%, 100, 0.5); /*search icon*/
$font-grey-5: hsla(0, 0%, 18%, 1); /*dividers*/

$mdc-typography-styles-headline4: (
  color: red
); /*$font-white-2*/

$mdc-typography-styles-headline6: (
  color: $font-grey-2
); /*$font-grey-2*/

$mdc-typography-styles-body1: (
  color: blue
); /*$font-grey-2*/
