.dark-mode-selector {
  &__holder {
    margin-top: 3rem;
  }

  &__list {
    display: flex;
  }

  &__icon {
    cursor: pointer;
    font-size: 2rem;
  }

  &__icon_black {
    border: 0.1875rem solid $dark-1;
    border-radius: 50%;
    @include mdc-list-item-primary-text-ink-color($dark-1);
  }

  &__icon_purple {
    border: 0.1875rem solid hsla(265, 100%, 47%, 1);
    border-radius: 50%;
    @include mdc-list-item-primary-text-ink-color(hsla(265, 100%, 47%, 1));
  }
}
