.audioInfo {
  &__imageContainer {
    line-height: 0;
  }
  &__image {
    width: 6.25rem;
    height: 6.25rem;
  }
  &__text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 1.56rem;
  }
  &__songName {
    font-size: 1.06rem;
  }
  &__albumArtistName {
    margin-top: 0.93rem;
    font-size: 1.06rem;
  }
}
