.volume-bar {
  display: flex;
  align-items: center;
  margin-left: 2rem;

  &__slider {
    width: 6rem;
  }
  &__icon {
    cursor: pointer;
    margin-right: 0.625rem;
    margin-bottom: 0.125rem;
    color: #838383;
    font-size: 1.81rem;
  }
}
