.mediaPlayer {
  &__buttons {
    display: flex;
    align-items: center;
  }
}
.mediaPlayer__button {
  @include mdc-fab-icon-size(50px);
  @include mdc-fab-shape-radius(100%);
  @include mdc-fab-container-color(#6200ee);
  width: 70px;
  height: 70px;
  margin: 0 20px;
  &_navigateButton {
    margin: 0;
    width: 40px;
    height: 30px;
    @include mdc-fab-icon-size(30px);
    @include mdc-fab-shape-radius(5px);
    @include mdc-fab-container-color(#838383);
  }
}
