<td class="mySongsTable__td mySongsTable__td_btnPlace">
  <button class="mySongsTable__td_playBtn ">
  </button>
</td>
<td class="mySongsTable__td mySongsTable__td_cover"><img class="mySongsTable__td_coverImg" src="./src/img/rammstein.jpg" alt=""></td>
<td class="mySongsTable__td mySongsTable__td_name"> Adios</td>
<td class="mySongsTable__td mySongsTable__td_duration">3:58</td>
<td class="mySongsTable__td mySongsTable__td_artist">Rammstein</td>
<td class="mySongsTable__td mySongsTable__td_album">Mutter</td>
<td class="mySongsTable__td mySongsTable__td_3dots"></td>