.mySongsTable__td {
  height: 3rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
  font-weight: 500;
  box-sizing: border-box;

  &_btnPlace {
    width: 3rem;
    text-align: center;
    vertical-align: middle;
  }
  &_playBtn {
    background: transparent;
    background-image: url("./img/playButtonIcon.png");
    background-size: cover;
    background-position: center;
    display: inline-block;

    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    outline: none;
    transition: all 0.5s;
    &:hover {
      height: 2.1rem;
    }
  }

  &_cover {
    text-align: left;
    padding: 0.1rem 0.1rem;
    width: 3rem;
    vertical-align: middle;
  }

  &_coverImg {
    display: block;
    width: 3rem;
  }

  &_name {
    text-align: left;
    padding: 0.1rem 0.1rem;
    width: 30%;
  }
  &_duration {
    text-align: right;
    padding: 0.1rem 0.3rem;
    width: 50px;
  }
  &_artist {
    text-align: left;
    padding-left: 0.3rem;
    width: 20%;
  }

  &_album {
    text-align: left;
    padding: 0.1rem 0.1rem;
    width: auto;
  }

  &_3dots {
    width: 32px;
    text-align: right;
    padding: 0.1rem 0.1rem;
  }
}
