<div class="mdc-card artist__card">
  <div class="artist__card_shaped">
    <div class="mdc-card mdc-card__primary-action mdc-ripple artist_ripple">
      <div class="mdc-card__media mdc-card__media--square artist__media">
        <img class="artist__image" src="<%= artistCover %>" alt="artist image">
      </div>
    </div>
  </div>
  <div class="artist__name">
    <a class="mdc-typography mdc-typography--headline5 artist__link link" href="<%= artistLink %>">
      <%= artistName %></a>
  </div>
</div>