.main {
  &__sidebar {
    z-index: 2;
  }
  &__wrapper {
    z-index: 1;
  }
  &__section {
    height: 100%;
    max-width: 100rem;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &__content-mount {
    padding: 5rem 1rem 12rem 1rem;
    z-index: 1;
  }
  &__search {
    position: fixed;
    right: 2rem;
    top: 1.2rem;
    z-index: 1;
  }
  &__player {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
  }
}
