<aside class="mdc-drawer mdc-drawer--dismissible"></aside>
<div class="mdc-drawer-app-content"></div>
<main class="main-content" id="main-content">
  <div class="mdc-top-app-bar--fixed-adjust main-content__wrapper">
    Your sample content <br /> sample content <br /> sample content<br /> sample content<br /> sample content<br /> sample
    content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample
    content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample
    content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample
    content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample
    content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample
    content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content<br /> sample content
  </div>
</main>
<div class="spotty__player"></div>