.main {
  height: 100%;
  &__sidebar {
    z-index: 2;
    position: fixed;
  }
  &__wrapper {
    z-index: 1;
  }
  &__section {
    max-width: 100rem;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 6.5rem;
  }
  &__content-mount {
    height: calc(100% - 109px);
    padding: 4rem 1rem 0;
    z-index: 1;

    &_disable {
      padding-bottom: 1rem;
    }
  }
  &__app-bar {
    flex-direction: row;
    align-items: center;
  }
  &__header {
    width: 70%;
  }
  &__search {
    margin-right: 1.8rem;
    &_drawer-open {
      margin-right: calc(256px + 1.8rem);
    }
  }
  &__player {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
  }
  &__elem_disable {
    display: none;
  }
  &__app-bar_disable {
    pointer-events: none;
    @include mdc-top-app-bar-icon-ink-color(#ccc);
    @include mdc-top-app-bar-fill-color(#ccc);
  }
  @media screen and (max-width: 1280px) {
    &__sidebar {
      @include mdc-drawer-width(224px);
    }
    &__search {
      &_drawer-open {
        margin-right: calc(224px + 1.8rem);
      }
    }
  }
  @media screen and (max-width: 1152px) {
    &__sidebar {
      @include mdc-drawer-width(192px);
    }
    &__search {
      &_drawer-open {
        margin-right: calc(192px + 1.8rem);
      }
    }
  }
}
