<div class="artist">

  <h2 class="mdc-typography mdc-typography--headline4 artists__heading">Artists</h2>

  <div class="artists__container">
    <% artists.forEach(item => { %>
    <div class="mdc-card artists__card responsive-grid">
      <a class="artists__link main__list-item" href='/artists/<%= item.id %>'>
        <div class="artists__card_shaped">
          <div class="mdc-card mdc-card__primary-action mdc-ripple artists__ripple">
            <div class="mdc-card__media mdc-card__media--square artists__media">
              <img class="artists__image" src="<%= item.imageURL %>" alt="artist image">
            </div>
          </div>
        </div>
        <div class="artists__name">
          <div class="mdc-typography mdc-typography--headline6">
            <%= item.name %>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>

</div>