.artists {
  width: 100%;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  &__card {
    box-shadow: none;
    width: 16.25rem;
    padding-bottom: 1.5rem;
  }

  &__card_shaped {
    margin: auto;
    width: 93%;
    border-radius: 50%;
  }

  &__media {
    margin: 0.25rem;
  }

  &__image {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &__name {
    margin: auto;
    text-align: center;
    padding: 1rem;
  }

  &__link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #212121;
  }
}
