.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__text {
    max-width: 55rem;
    color: #5f6368;
  }
  &__subtitle {
    color: #5f6368;
  }
  &__links {
    max-width: 45rem;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__link {
    margin-bottom: 30px;
    display: flex;
    width: 180px;
    color: #6200ee;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
  }
  &__img {
    margin-bottom: 15px;
    width: 3.6rem;
    height: 3.6rem;
    font-size: 2rem;
  }
  &__copyright {
    color: #5f6368;
  }
}
