<section class="about">
  <h2 class="about__heading mdc-typography--headline4">About</h2>
  <p class="about__text mdc-typography--headline6">
    This app is for.... Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <h4 class="about__subtitle mdc-typography--headline6">It is developed by:</h4>
  <div class="about__links">
    <a href="https://github.com/WOLFRIEND" class="about__link mdc-typography--body1" target="_blank">
      <img src="https://github.com/WOLFRIEND.png" class="about__img " alt="">
      <span>WOLFRIEND</span>
    </a>
    <a href="https://github.com/lubovgribiniyk" class="about__link mdc-typography--body1 mdc-theme--primary" target="_blank">
      <img src="https://github.com/lubovgribiniyk.png" class="about__img " alt="">
      <span>lubovgribiniyk</span>
    </a>
    <a href="https://github.com/yevheniiIvanise" class="about__link mdc-typography--body1" target="_blank">
      <img src="https://github.com/yevheniiIvanise.png" class="about__img " alt="">
      <span>yevheniiIvanise</span>
    </a>
    <a href="https://github.com/pavelbaranchuk" class="about__link mdc-typography--body1" target="_blank">
      <img src="https://github.com/pavelbaranchuk.png" class="about__img " alt="">
      <span>pavelbaranchuk</span>
    </a>
    <a href="https://github.com/gamesminer" class="about__link mdc-typography--body1" target="_blank">
      <img src="https://github.com/gamesminer.png" class="about__img " alt="">
      <span>gamesminer</span>
    </a>
    <a href="https://github.com/IYeskov" class="about__link mdc-typography--body1" target="_blank">
      <img src="https://github.com/IYeskov.png" class="about__img " alt="">
      <span>IYeskov</span>
    </a>
    <a href="https://github.com/kozak-iz-kh" class="about__link mdc-typography--body1" target="_blank">
      <img src="https://github.com/kozak-iz-kh.png" class="about__img " alt="">
      <span>kozak-iz-kh</span>
    </a>
    <a href="https://github.com/OlegShynkarenko" class="about__link mdc-typography--body1" target="_blank">
      <img src="https://github.com/OlegShynkarenko.png" class="about__img " alt="">
      <span>OlegShynkarenko</span>
    </a>
  </div>
  <div class="about__copyright mdc-typography--body1">© 2018</div>
</section>