<section class="about">
  <div class="about__content">
    <h2 class="about__heading mdc-typography--headline4">About</h2>
    <p class="about__text mdc-typography--body1">
      This app is for people who really like music. Here it’s easy to find the right music for every moment - just open and listen to your favourite songs.
      You have a few options to find music on our service. Also you can create your own playlist.
      Our service is completely free to use.
    </p>
    <h4 class="about__subtitle mdc-typography--headline6">It is developed by:</h4>
    <div class="about__links">
      <a href="https://github.com/WOLFRIEND" class="about__link mdc-typography--body1" target="_blank">
        <img src="https://github.com/WOLFRIEND.png?size=60" class="about__img " alt="">
        <span>WOLFRIEND</span>
      </a>
      <a href="https://github.com/lubovgribiniyk" class="about__link mdc-typography--body1 mdc-theme--primary" target="_blank">
        <img src="https://github.com/lubovgribiniyk.png?size=60" class="about__img " alt="">
        <span>lubovgribiniyk</span>
      </a>
      <a href="https://github.com/yevheniiIvanise" class="about__link mdc-typography--body1" target="_blank">
        <img src="https://github.com/yevheniiIvanise.png?size=60" class="about__img " alt="">
        <span>yevheniiIvanise</span>
      </a>
      <a href="https://github.com/pavelbaranchuk" class="about__link mdc-typography--body1" target="_blank">
        <img src="https://github.com/pavelbaranchuk.png?size=60" class="about__img " alt="">
        <span>pavelbaranchuk</span>
      </a>
      <a href="https://github.com/gamesminer" class="about__link mdc-typography--body1" target="_blank">
        <img src="https://github.com/gamesminer.png?size=60" class="about__img " alt="">
        <span>gamesminer</span>
      </a>
      <a href="https://github.com/IYeskov" class="about__link mdc-typography--body1" target="_blank">
        <img src="https://github.com/IYeskov.png?size=60" class="about__img " alt="">
        <span>IYeskov</span>
      </a>
      <a href="https://github.com/kozak-iz-kh" class="about__link mdc-typography--body1" target="_blank">
        <img src="https://github.com/kozak-iz-kh.png?size=60" class="about__img " alt="">
        <span>kozak-iz-kh</span>
      </a>
      <a href="https://github.com/OlegShynkarenko" class="about__link mdc-typography--body1" target="_blank">
        <img src="https://github.com/OlegShynkarenko.png?size=60" class="about__img " alt="">
        <span>OlegShynkarenko</span>
      </a>
    </div>
  </div>
  <div class="about__copyright mdc-typography--body1">© 2018</div>
</section>