<div class="mdc-slider progress-bar" tabindex="0" role="slider" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" aria-label="Select Value">
  <div class="mdc-slider__track-container">
    <div class="mdc-slider__track progress-bar__played"></div>
  </div>
  <div class="mdc-slider__thumb-container progress-bar__thumb-container">
    <svg class="mdc-slider__thumb" width="21" height="21">
      <circle cx="10.5" cy="10.5" r="7.875"></circle>
    </svg>
    <div class="mdc-slider__focus-ring progress-bar__focus-ring"></div>
  </div>
</div>

<!--
  <div class="progress-bar">
    <div role="progressbar" class="mdc-linear-progress progress-bar__main">
      <div class="mdc-linear-progress__buffer progress-bar__buffer"></div>
      <div class="mdc-linear-progress__bar progress-bar__played">
        <span class="mdc-linear-progress__bar-inner progress-bar__played-range"></span>
        <div class="mdc-linear-progress__circle progress-bar__circle"></div>
      </div>
    </div>
  </div>
-->