.progress-bar {
  &__main {
    padding-top: 0.31rem;
    overflow: visible;
    z-index: 2;
    user-select: none;
  }
  &__buffer {
    height: 0.31rem;
  }
  &__played {
    transform: none;
    width: 0;
    height: 0.31rem;
  }
  &__played-range {
    border-radius: 3.1rem;
    height: 0.31rem;
  }
  &__circle {
    position: relative;
    width: 0.937rem;
    height: 0.937rem;
    border-radius: 50%;
    background-color: #6200ee;
    transform: translateX(calc(-0.937rem / 2)) translateY(calc(-0.625rem / 2));
    cursor: pointer;
    z-index: 2;
  }
  &__move-circle {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background-color: #000;
  }
}
