.progressBar {
  padding-top: 0.5rem;
  overflow: visible;
  z-index: 2;
  &__buffer {
    height: 0.5rem;
  }
  &__played {
    transform: none;
    width: 0;
    height: 0.5rem;
  }
  &__playedRange {
    border-radius: 5rem;
    height: 0.5rem;
  }
  &__circle {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #6200ee;
    transform: translateX(calc(-15px / 2)) translateY(calc(-10px / 2));
    cursor: pointer;
    z-index: 2;
  }
  &__moveCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
    background-color: #000;
  }
}
