<i class="material-icons volume__icon">volume_up</i>
<div role="progressbar" class="mdc-linear-progress mdc-linear-progress_volume">
  <div class="mdc-linear-progress__buffer"></div>
  <div class="mdc-linear-progress__bar mdc-linear-progress__bar_volume mdc-linear-progress__primary-bar mdc-linear-progress__primary-bar_volume">
    <span class="mdc-linear-progress__bar-inner mdc-linear-progress__bar-inner_volume"></span>
    <div class="mdc-linear-progress__circle mdc-linear-progress__circle_volume"></div>
  </div>
</div>