.audioRating {
  &__stars {
    vertical-align: top;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  &__star {
    padding: 2px;
    color: orange;
    cursor: pointer;
  }
  &__star:before {
    content: "\e83a";
  }
  &__star:hover:before,
  &__star.selected:before {
    content: "\e838";
  }
  &__star:hover ~ &__star:before,
  &__star.selected ~ &__star:before {
    content: "\e838";
  }
}
