<div class="audioRating__container">
  <span class="audioRating__stars">
    <i class="material-icons audioRating__star audioRating__star_selected" id="star1">star</i>
    <i class="material-icons audioRating__star audioRating__star_selected" id="star2">star</i>
    <i class="material-icons audioRating__star audioRating__star_selected" id="star3">star</i>
    <i class="material-icons audioRating__star" id="star4">star</i>
    <i class="material-icons audioRating__star" id="star5">star</i>
  </span>
</div>