<div class="mdc-dialog dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <h2 class="mdc-dialog__title" id="my-dialog-title">Authorization</h2>
      <div class="mdc-dialog__content" id="my-dialog-content">
        <div class="mdc-text-field mdc-text-field--fullwidth">
          <input class="mdc-text-field__input dialog__login" type="text" placeholder="admin" aria-label="admin">
        </div>
        <div class="mdc-text-field mdc-text-field--fullwidth">
          <input class="mdc-text-field__input dialog__password" type="password" placeholder="admin" aria-label="admin">
        </div>
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button dialog__button" data-mdc-dialog-action="accept">Log In</button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>