<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/album_cover_1.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Album Name</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Artist Name</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content mdc-typography--headline5">
        <img class="albums__images" src="./assets/img/AlbumsCovers/album_cover_2.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Album Name</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Artist Name</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/album_cover_3.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Album Name</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Artist Name</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/album_cover_4.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Album Name</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Artist Name</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/album_cover_5.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Album Name</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Artist Name</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/album_cover_6.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Album Name</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Artist Name</h3>
    </div>
  </div>
</div>