<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/rihanna_loud.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Loud</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Rihanna</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content mdc-typography--headline5">
        <img class="albums__images" src="./assets/img/AlbumsCovers/tove-lo_queenoftheclouds.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Queen of the clouds</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Tove Lo</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/hardkiss_perfectionisalie.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Perfection is a lie</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by The Hardkiss</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/halsey_badlands.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Badlands</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Halsey</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/dualipa_dualipa.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Dua Lipa</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Dua Lipa</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/three_days_grace__human.jpeg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Human</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Three Days Grace</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/papa-roach_fear.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Fear</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Papa Roach</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content mdc-typography--headline5">
        <img class="albums__images" src="./assets/img/AlbumsCovers/taylor_reputation_cr.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Reputation</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Taylor Swift</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/onerepublic_wakingup.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Waking Up</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by OneRepublic</h3>
    </div>
  </div>
</div>
<div class="albums__card mdc-card mdc-card-album">
  <div class="albums__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="albums__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="albums__images" src="./assets/img/AlbumsCovers/foxes_glorious.jpg">
      </div>
    </div>
    <div class="albums__description">
      <h2 class="albums__card-album mdc-typography--headline5">Glorious</h2>
      <h3 class="albums__card-artist mdc-typography--body1">by Foxes</h3>
    </div>
  </div>
</div>