<div class="mdc-card__container">

  <div class="mdc-card entity-card">
    <div class="mdc-card artist-card artist-card-shaped">
      <div class="mdc-card mdc-card__primary-action mdc-ripple">
        <div class="mdc-card mdc-card__media mdc-card__media--square">
          <img class="image" src="https://scontent-frt3-2.cdninstagram.com/vp/cc129ff5a77fabf37c50a3a6e02bcd18/5C4DBBC1/t51.2885-19/s320x320/38428857_2268617196485173_7479580993595113472_n.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="artist-card__primary">
      <a href="https://www.instagram.com/nickiminaj/" class="mdc-typography artist-card__subtitle mdc-typography--headline5">Nicki Minaj</a>
    </div>
  </div>

  <div class="mdc-card entity-card">
    <div class="mdc-card artist-card artist-card-shaped">
      <div class="mdc-card mdc-card__primary-action mdc-ripple">
        <div class="mdc-card mdc-card__media mdc-card__media--square">
          <img class="image" src="https://scontent-frt3-2.cdninstagram.com/vp/11f665f71e7de5e8296eeb4cb11cce15/5C871C6A/t51.2885-19/s320x320/23416552_2202522703308122_7371968908661620736_n.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="artist-card__primary">
      <a href="https://www.instagram.com/eminem/" class="mdc-typography artist-card__subtitle mdc-typography--headline5">Eminem</a>
    </div>
  </div>

  <div class="mdc-card entity-card">
    <div class="mdc-card artist-card artist-card-shaped">
      <div class="mdc-card mdc-card__primary-action mdc-ripple">
        <div class="mdc-card mdc-card__media mdc-card__media--square">
          <img class="image" src="https://scontent-frt3-2.cdninstagram.com/vp/d1da531ae50bb289f5d05280981581f3/5C6B2241/t51.2885-19/s320x320/13257138_1707106592889445_1767672544_a.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="artist-card__primary">
      <a href="https://www.instagram.com/50cent/" class="mdc-typography artist-card__subtitle mdc-typography--headline5">50 Cent</a>
    </div>
  </div>

  <div class="mdc-card entity-card">
    <div class="mdc-card artist-card artist-card-shaped">
      <div class="mdc-card mdc-card__primary-action mdc-ripple">
        <div class="mdc-card mdc-card__media mdc-card__media--square">
          <img class="image" src="https://scontent-frt3-2.cdninstagram.com/vp/0b9740482ad97d631190bcbb23c12076/5C654395/t51.2885-19/11377994_1075401695821539_889154122_a.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="artist-card__primary">
      <a href="https://www.instagram.com/drdre/" class="mdc-typography artist-card__subtitle mdc-typography--headline5">Dr. Dre</a>
    </div>
  </div>

  <div class="mdc-card entity-card">
    <div class="mdc-card artist-card artist-card-shaped">
      <div class="mdc-card mdc-card__primary-action mdc-ripple">
        <div class="mdc-card mdc-card__media mdc-card__media--square">
          <img class="image" src="https://scontent-frt3-2.cdninstagram.com/vp/d03f37d1a7ab21fef1e5c9856e844dbb/5C4EDF6C/t51.2885-19/10554144_540773739382943_684884780_a.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="artist-card__primary">
      <a href="https://www.instagram.com/icecube/" class="mdc-typography artist-card__subtitle mdc-typography--headline5">Ice Cube</a>
    </div>
  </div>

  <div class="mdc-card entity-card">
    <div class="mdc-card artist-card artist-card-shaped">
      <div class="mdc-card mdc-card__primary-action mdc-ripple">
        <div class="mdc-card mdc-card__media mdc-card__media--square">
          <img class="image" src="https://scontent-frt3-2.cdninstagram.com/vp/6fc71b7a0132d67293891649a69f4366/5C6462BB/t51.2885-19/s320x320/23823460_2019118628321736_4283096474545291264_n.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="artist-card__primary">
      <a href="https://www.instagram.com/therealtechn9ne/" class="mdc-typography artist-card__subtitle mdc-typography--headline5">Tech N9ne</a>
    </div>
  </div>

</div>