<div class="my-songs">
  <h2 class="mdc-typography--headline4">
    My Songs
  </h2>
  <div class="my-songs__table-container"></div>
</div>


<!-- The code commented below is needed to display the My Songs library is empty and we should use it when 'Add to my songs' feature will be implemented-->
<!--
  <div class="my-songs__empty-library-container">
    <i class="my-songs__material-icon material-icons">library_music</i>
    <div class="my-songs__empty-list-text mdc-typography&#45;&#45;headline4">My Songs library is empty</div>
  </div>
 </div>-->