<table class="table">
  <thead class="table__head">
    <tr>
      <th class="table__th"></th>
      <th class="table__th table__th_number">
        <span class="table__th-field">
          No.
          <i data="number" class="fas fa-arrow-up table__th-icon table__th-icon_number"></i>
        </span>
      </th>
      <th class="table__th"></th>
      <th class="table__th table__th_name">
        <span class="table__th-field">
          Name
          <i data="name" class="fas fa-arrow-up table__th-icon table__th-icon_name"></i>
        </span>
      </th>
      <th class="table__th table__th_duration">
        <i class="material-icons table__th_duration_icon">watch_later</i>
      </th>
      <th class="table__th table__th_artist">
        <span class="table__th-field">
          Author
          <i data="author" class="fas fa-arrow-up table__th-icon table__th-icon_author"></i>
        </span>
      </th>
      <th class="table__th table__th_album">
        <span class="table__th-field">
          Album
          <i data="album" class="fas fa-arrow-up table__th-icon table__th-icon_album"></i>
        </span>
      </th>
      <th class="table__th table__th_3dots"></th>
    </tr>
  </thead>
  <tbody class="table__body">
    <% data.forEach(item => { %>
    <tr class="table__row data-id=" <%=parseInt(item.number) + 1 %>">
      <td class="table__td table__td_play">
        <button class="mdc-icon-button material-icons table__td_play-btn">play_arrow</button>
      </td>
      <td class="table__td table__td_number">
        <%= parseInt(item.number) + 1 %>
      </td>
      <td class="table__td table__td_cover">
        <img class="table__td_cover-img" src="<%= item.cover %>" alt="">
      </td>
      <td class="table__td table__td_name">
        <%= item.name %>
      </td>
      <td class="table__td table__td_duration">
        <%= item.duration%>
      </td>
      <td class="table__td table__td_Author">
        <%= item.author %>
      </td>
      <td class="table__td table__td_album">
        <%= item.album %>
      </td>
      <td class="table__td table__td_more">
        <button class="mdc-icon-button material-icons table__td_more-btn">more_vert</button>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>