.table {
  width: 100%;
  border: 0.06rem solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
  border-spacing: 0.12rem;
  white-space: nowrap;
  font-size: 0.8rem;
  background-color: #fff;
  color: #757575;
  display: table;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.14),
    0 0.2rem 0.1rem -0.15rem rgba(0, 0, 0, 0.2),
    0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.12);
  font-family: "Roboto", sans-serif;
  &__row:hover {
    background-color: #eeeeee;
  }
  &__th {
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 8px;
    box-sizing: border-box;
    &-field:hover {
      opacity: 0.9;
      cursor: pointer;
      transition: opacity 0.1s;
    }
    &-icon {
      opacity: 0;
      &_order_asc {
        opacity: 1;
        transform: scaleY(-1);
      }
      &_order_desc {
        opacity: 1;
        transform: scaleY(1);
      }
    }
    &_number {
      text-align: center;
      width: 1rem;
    }
    &_name {
      text-align: left;
    }
    &_duration {
      text-align: right;
      padding-right: 0.2rem;
      &_icon {
        vertical-align: middle;
      }
    }
    &_artist {
      text-align: left;
      padding-left: 0.3rem;
    }

    &_album {
      text-align: left;
    }
  }
  &__td {
    position: relative;
    border-top: 0.062rem solid rgba(0, 0, 0, 0.12);
    border-bottom: 0.062rem solid rgba(0, 0, 0, 0.12);
    padding: 0.85rem 0.85rem;
    box-sizing: border-box;
    vertical-align: middle;
    height: 3rem;
    &_play {
      width: 1.5rem;
      text-align: center;
      padding: 0;
    }

    &_number {
      width: 1rem;
    }
    &_cover {
      text-align: left;
      padding: 0.1rem 0.1rem;
      width: 3rem;
      &-img {
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 0.3rem;
      }
    }
    &_name {
      text-align: left;
      padding: 0.1rem 0.1rem;
      width: 30%;
    }
    &_duration {
      text-align: right;
      padding: 0.1rem 0.3rem;
      width: 50px;
    }
    &_artist {
      text-align: left;
      padding-left: 0.3rem;
      width: 20%;
    }
    &_album {
      text-align: left;
      padding: 0.1rem 0.1rem;
      width: auto;
    }
    &_more {
      width: 32px;
      text-align: right;
      padding: 0.1rem 0.1rem;
      &-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
