.mySongsTable {
  width: calc(100% - 5rem);
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 1rem;
  background-color: #fff;
  color: #757575;
  display: table;
  margin: 2rem 2.5rem 0 2.5rem;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.14),
    0 0.2rem 0.1rem -0.15rem rgba(0, 0, 0, 0.2),
    0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.12);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  &__caption {
    text-align: left;
    margin-bottom: 2rem;
  }

  &__row:hover {
    background-color: #c2d6d6;
  }
  &__th {
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0;
    height: 2.2rem;
    padding-top: 1.5rem;
    color: black;
    box-sizing: border-box;
    &_name {
      text-align: left;
    }

    &_duration {
      text-align: right;
      padding-right: 0.3rem;
    }

    &_artist {
      text-align: left;
      padding-left: 0.3rem;
    }

    &_album {
      text-align: left;
    }
  }
}
