@import "./MainControl/MainControlComponent";
@import "./ProgressBar/ProgressBarComponent";
@import "./AudioInfo/AudioInfoComponent";
@import "./Rating/RatingComponent";

.media-player {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fefefe;
  &__progress-bar {
    flex-basis: 100%;
  }
  &__audio-rating {
    flex-basis: 22%;
  }
}
