<div class="share-view">
  <div class=" mdc-card share-view__card">
    <div class="mdc-card__primary-action share-view__card-riple">
      <div class="mdc-card__media mdc-card__media-first mdc-card__media--square">
        <div class="mdc-card__media-content">
          <img src="./assets/img/AlbumsCovers/album_cover_1.jpg" alt="album cover" class="share-view__image">
        </div>
      </div>
    </div>
    <div class="albums__description">
      <h2 class="share-view__text share-view__text-song-name mdc-typography--headline6">Song Name</h2>
      <h3 class="share-view__text share-view__text-album mdc-typography--subtitle2">Album Name</h3>
      <h4 class="share-view__text share-view__text-artist mdc-typography--caption">by Artist Name</h4>
    </div>
  </div>
</div>