<div class="album-card mdc-card mdc-card-album">
  <div class="album-card__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-card__card-media mdc-card__media mdc-card__media-first mdc-card__media--square">
      <div class="mdc-card__media-content">
        <img class="album-card__images" src="./assets/img/AlbumsCovers/rihanna_loud.jpg">
      </div>
    </div>
    <div class="album-card__description">
      <h2 class="album-card__card-album mdc-typography--headline6">Loud</h2>
      <h3 class="album-card__card-artist mdc-typography--subtitle2">by Rihanna</h3>
    </div>
  </div>
</div>
<!--<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content mdc-typography&#45;&#45;headline6">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/tove-lo_queenoftheclouds.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline5">Queen of the clouds</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Tove Lo</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/hardkiss_perfectionisalie.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Perfection is a lie</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by The Hardkiss</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/halsey_badlands.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Badlands</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Halsey</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/dualipa_dualipa.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Dua Lipa</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Dua Lipa</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/three_days_grace__human.jpeg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Human</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Three Days Grace</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/papa-roach_fear.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Fear</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Papa Roach</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content mdc-typography&#45;&#45;headline5">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/taylor_reputation_cr.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Reputation</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Taylor Swift</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/onerepublic_wakingup.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Waking Up</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by OneRepublic</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/foxes_glorious.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Glorious</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Foxes</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/ariannagrande_myeverything.jpg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">My Everything</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Arianna Grande</h3>
    </div>
  </div>
</div>
<div class="album-list-item__card mdc-card mdc-card-album">
  <div class="album-list-item__card-ripple-effect mdc-card__primary-action mdc-ripple-upgraded">
    <div class="album-list-item__card-media mdc-card__media mdc-card__media-first mdc-card__media&#45;&#45;square">
      <div class="mdc-card__media-content">
        <img class="album-list-item__images" src="./assets/img/AlbumsCovers/edsheeran_divide.jpeg">
      </div>
    </div>
    <div class="album-list-item__description">
      <h2 class="album-list-item__card-album mdc-typography&#45;&#45;headline6">Divide</h2>
      <h3 class="album-list-item__card-artist  mdc-typography&#45;&#45;subtitle2">by Ed Sheeran</h3>
    </div>
  </div>
</div>-->