$largest-break-point: 1920px;
$large-break-point: 1780px;
$medium-break-point: 1600px;
$small-break-point: 1280px;
$smallest-break-point: 1152px;

$basic-container-gap: 1rem;

$background: hsla(0, 0%, 7%, 1);
$dark-1: hsla(0, 0%, 14%, 1);
$dark-2: hsla(0, 0%, 11%, 1);
$dark-selected: hsla(0, 0%, 100%, 0.1);
$dark-hover: hsla(0, 0%, 53%, 0.4);

$font-white-1: hsla(0, 0%, 100%, 1);
$font-white-2: hsla(0, 0%, 100%, 0.88);

$font-grey-1: hsla(0, 0%, 100%, 0.6);
$font-grey-2: hsla(0, 0%, 53%, 1);
$font-grey-3: hsla(0, 0%, 60%, 1);
$font-grey-4: hsla(0, 0%, 100, 0.5);
$font-grey-5: hsla(0, 0%, 18%, 1);
