<div class="authors">

  <h2 class="mdc-typography mdc-typography--headline4 authors__heading">Authors</h2>

  <div class="authors__container">
    <% authors.forEach(item => { %>
    <div class="mdc-card authors__card">
      <div class="authors__card_shaped">
        <div class="mdc-card mdc-card__primary-action mdc-ripple authors__ripple">
          <div class="mdc-card__media mdc-card__media--square authors__media">
            <img class="authors__image" src="<%= item.cover %>" alt="authors image">
          </div>
        </div>
      </div>
      <div class="authors__name">
        <a class="mdc-typography mdc-typography--headline5 authors__link link" href="<%= item.link %>">
          <%= item.name %></a>
      </div>
    </div>
    <% }) %>
  </div>

</div>