.albums {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__progressbar {
    margin-top: 20rem;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__link {
    text-decoration: none;
    color: #000;
  }

  &__card-container {
    margin: 0 1.8rem 2.5rem 0;
  }

  &__card {
    width: 22.5rem;
  }

  &__card-images {
    width: 22.5rem;
  }

  &__card-description {
    padding: 1rem;
  }

  &__card-album {
    margin: 0;
  }

  &__card-artist {
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
