.albums {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__loader {
    position: absolute;
    height: calc(100vh - 109px);
    width: 100%;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  &__link {
    text-decoration: none;
    color: #000;
  }

  &__card-images {
    width: 100%;
  }

  &__card-description {
    padding: $basic-container-gap;
  }

  &__card-album {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__card-artist {
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
